- unless current_unit.nil?
  %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
    = current_locale
    %span.caret
  %ul.dropdown-menu
    - LOCALE.each do |key, value|
      %li.divider{ :role => "separator" }
      %li
        #{ link_to value, locale_branch_organization_departament_unit_path( unit: { locale: key }), method: :patch }