- if unit_signed_in?
  = link_to 'LOG OUT', destroy_unit_session_path(), method: :delete, :class => 'btn btn-default btn-sm'
- else
  = link_to 'SIGN UP', new_unit_registration_path(), :class => 'btn btn-default btn-sm'
  = link_to 'LOG IN', new_unit_session_path(), :class => 'btn btn-default btn-sm'