- if unit_signed_in?
  = link_to (t '.log_out'), destroy_unit_session_path(), method: :delete, :class => 'btn btn-default btn-sm'
- else
  = link_to (t '.sign_up'), new_unit_registration_path(), :class => 'btn btn-default btn-sm'
  = link_to (t '.log_in'), new_unit_session_path(), :class => 'btn btn-default btn-sm'
