- if unit_signed_in?
  - if current_unit.branch_id != nil
    / or current_unit.organization_id != nil or current_unit.departament_id != nil
    %b Branch:
    =unit_branch.branch_name
    %b Organization:
    /= unit_organization.name
    / %b Departament:
    / = current_unit.belong_to_departament
    / %b Name: 
    / = current_unit.full_name
    - if current_unit.role?
      / %b Status:
      / = current_unit.role
  -else
    = 'Create you organization and departament!'
- else
  = 'My greating for you, Guest!!!'
/ = binding.pry
