Text message
===========================================
|                                         |
|    User #{@message_sender} message!     |
|                                         |
===========================================


= @body


+------------------------------------------+