.col-md-12
.navbar.navbar-default{:role=>"navigation"}>
  .container-fluid
    .row
      .col-xs-6.col-sm-6.col-md-6.col-lg-6
        = render 'layouts/menu/navbar_header'
      .col-xs-6.col-sm-6.col-md-6.col-lg-6
        = render 'layouts/menu/unit_data'
    .collapse.navbar-collapse
    = render 'layouts/menu/links'
    #bs-example-navbar-collapse-1
      = render 'layouts/menu/login'